

    <div id="app">
        <div id="main">
            <div class="content">
                <div data-test="nanodegree-container">
                    <div>
                        <div>
                            <div class="_layout--large-nav--1elMR">
                                <div class="ureact-app__container">
                                    <nav class="ureact-app__nav secondary-only" >
                                        <a class="nav__a11y-link" href="#content">Jump to content</a>
                                        <a class="nav__a11y-link" href="mailto:a11y@udacity.com?subject=Accessibility%20Support" rel="noreferrer" target="_blank">Email for accessibility support</a>
                                        <div class="nav__contents ">
                                            <div id="main-layout-sidebar" class="secondary-nav" >
                                                <div data-test="nanodegree-sidebar" class="index--sidebar-container--WjVqN" >
                                                    <div class="_sidebar--sidebar--1jCxg">
                                                        <h3 class="_sidebar--header--2BaH_">
                                                            <a [routerLink]="['/part',part[0]]">
                                                                <span class="_sidebar--title-content--tLGxZ">
                                                                    <span class="_sidebar--arrow--2Hns-">
                                                                        <i class="vds-icon vds-icon--lg" role="img" aria-label="caret left" aria-hidden="false">
                                                                            <svg viewBox="0 0 32 32"><path d="M20 11.902v8.196a.5.5 0 01-.765.424l-6.557-4.098a.5.5 0 010-.848l6.557-4.098a.5.5 0 01.765.424z"></path></svg>
                                                                        </i>
                                                                    </span>
                                                                    <span class="_sidebar--title--3HHFG text--nowrap-ellipsis--TMdB3">
                                                                        <span class="_sidebar--title-text--vcBON text--nowrap-ellipsis--TMdB3">{{lesson}}</span>
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        </h3>
                                                        <div class="_sidebar--sections--2TxEN" style="height:100% ;">
                                                            <div role="group" aria-expanded="false" class="_section--section--16O72 shared--section--3e1zX _section--_hide-shadow--1363R">
                                                                <a [routerLink]="['/chapitre', lesson, 'syllabus']" class="_section--header--3zXV5 shared--header--3QkFS"><h2>Syllabus</h2></a>
                                                            </div>

                                                            <!-- <div role="group" aria-expanded="true" class="wrap-collabsible dropdown-btn _section--section--16O72 shared--section--3e1zX _section--_hide-shadow--1363R _section--section-selected--24hRk shared--section-expanded--2eoTJ shared--section--3e1zX _section--_hide-shadow--1yGng">
                                                                    <input id="collapsible2" class="toggle" type="checkbox" checked="">
                                                                    
                                                                         <label for="collapsible2" class="lbl-toggle _section--header--3zXV5 shared--header--3QkFS"><h2>Concepts</h2> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                                            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                                                          </svg>
                                                                            
                                                                         </label>
                                                                <div id="tree-concepts" class="_section--section-contents--7aocp">
                                                                    <ol class="index--contents-list--33vHB">
                                                                        <li id="contents-list-scroll-target-691b8efd-2f1a-488c-9c1f-5445241f6cea" class="_item--item--dTIux">
                                                                            <a title="1. Overview" href="/nanodegrees/nd063/parts/cd1908/modules/e865ad85-05a1-4fc7-ba6e-8f242531ebc5/lessons/2381c3f8-2610-4307-964c-bd32ccd5e5c9/concepts/691b8efd-2f1a-488c-9c1f-5445241f6cea">
                                                                                <span class="_item--waypoint-check--nmzcM">
                                                                                    <i class="vds-icon vds-icon--sm" role="img" aria-label="check" aria-hidden="false">
                                                                                        <svg viewBox="0 0 32 32">
                                                                                            <path
                                                                                                d="M9.271 18.758a1 1 0 011.415-1.414l4.028 4.028 7.35-12.73a1 1 0 011.261-.418l.105.053a1 1 0 01.366 1.366l-8 13.856a1.02 1.02 0 01-.011.02l-.025.037a1.115 1.115 0 01-.125.151l.062-.066a.994.994 0 01-.06.065l-.005.005a.872.872 0 01-.078.07l-.025.02a.93.93 0 01-.118.076l-.026.013a.959.959 0 01-.185.073c-.006 0-.013.002-.02.004a.746.746 0 01-.089.02c-.005 0-.011 0-.017.002a.695.695 0 01-.081.01h-.036a.65.65 0 01-.076 0l-.03-.003a.989.989 0 01-.63-.288z"
                                                                                            ></path>
                                                                                        </svg>
                                                                                    </i>
                                                                                </span>
                                                                                1. Overview
                                                                            </a>
                                                                        </li>
                                                                    </ol>
                                                                </div>
                                                            </div> -->
                                                            
                                                            <div role="group" aria-expanded="true" class="_section--section-selected--24hRk  shared--section-expanded--2eoTJ shared--section--3e1zX _section--_hide-shadow--1yGng">
                                                                <input id="collapsible2" class="toggle" type="checkbox" checked="">
                                        
                                                                <label for="collapsible2" class="lbl-toggle _section--header--3zXV5 shared--header--3QkFS"><h2>CORE CURRICULUM</h2> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                                    <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                                                </svg>
                                                                    
                                                                </label>
                                                                <div id="tree-concepts" class="_section--section-contents--7aocp collapsible-content">
                                                                    <ol class="index--contents-list--33vHB" *ngFor="let x of chapitres; let i = index" [attr.data-index]="i">
                                                                        <div *ngIf="x.id_chapitre < last_viewed; then thenBlock else elseBlock"></div>
                                                                            <ng-template #thenBlock >
                                                                                <li id="contents-list-scroll-target-691b8efd-2f1a-488c-9c1f-5445241f6cea" class="_item--item--dTIux">
                                                                                    <a  [routerLink]="['/chapitre', lesson ,'cours', x.nom_chapitre]">
                                                                                        <span class="_item--waypoint-check--nmzcM">
                                                                                            <i class="vds-icon vds-icon--sm" role="img" aria-label="check" aria-hidden="false">
                                                                                                <svg viewBox="0 0 32 32">
                                                                                                    <path
                                                                                                        d="M9.271 18.758a1 1 0 011.415-1.414l4.028 4.028 7.35-12.73a1 1 0 011.261-.418l.105.053a1 1 0 01.366 1.366l-8 13.856a1.02 1.02 0 01-.011.02l-.025.037a1.115 1.115 0 01-.125.151l.062-.066a.994.994 0 01-.06.065l-.005.005a.872.872 0 01-.078.07l-.025.02a.93.93 0 01-.118.076l-.026.013a.959.959 0 01-.185.073c-.006 0-.013.002-.02.004a.746.746 0 01-.089.02c-.005 0-.011 0-.017.002a.695.695 0 01-.081.01h-.036a.65.65 0 01-.076 0l-.03-.003a.989.989 0 01-.63-.288z"
                                                                                                    ></path>
                                                                                                </svg>
                                                                                            </i>
                                                                                        </span>
                                                                                        {{x.nom_chapitre}}
                                                                                    </a>
                                                                                </li>
                                                                            </ng-template>
                                                                            <ng-template #elseBlock  >
                                                                                <li id="contents-list-scroll-target-691b8efd-2f1a-488c-9c1f-5445241f6cea" class="_item--item--dTIux">
                                                                                    <a  [routerLink]="['/chapitre', lesson ,'cours', x.nom_chapitre]">
                                                                                        {{x.nom_chapitre}}
                                                                                    </a>
                                                                                </li>
                                                                            </ng-template>
                                                                        
                                                                    </ol>
                                                                </div>
                                                            </div>
                                                            
                                                            <!-- <div class="wrap-collabsible dropdown-btn _section--section--16O72 shared--section--3e1zX _section--_hide-shadow--1363R" style="height:100% ;"> 
                                                                <input id="collapsible2" class="toggle" type="checkbox" checked="">
                                                                
                                                                     <label for="collapsible2" class="lbl-toggle _section--header--3zXV5 shared--header--3QkFS"><h2>Concepts</h2> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                                                        <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                                                                      </svg>
                                                                        
                                                                     </label>
                                                                     
                                                                 <div class="collapsible-content">
                                                                    <div class="content-inner _item--item-selected--2C0mp _item--details--bRPx_"  *ngFor="let x of chapitres; let i = index" [attr.data-index]="i" >
                                                                        <a  style="color:whitesmoke ;" [routerLink]="['/chapitre', lesson ,'cours', x.nom_chapitre]"><span style="font-size:16px; " class="_item--title--3RRb5" >{{x.nom_chapitre}} </span></a>
                                                        
                                                                    
                                                                    </div>
                                                                </div>                                 
                                                             </div> -->
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                    <main class="ureact-app__main">
                                        <router-outlet></router-outlet>
                                    </main>
                                </div>
                               
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
        
    </div>

    <div>
        
    </div>
   
