

<div class="title-area">
   <div class="ureact-app__header">
       <div>
           <div data-test="concept-header">
               <nav aria-label="inner-nav" class="index--dark-header--2SHyn index--_header--36qYf">
                   <div class="vds-flex vds-flex--align-center vds-flex--full vds-flex--justify-between vds-flex--spacing-2x">
                       <div class="vds-flex__item"><h1 id="header-title" aria-live="assertive">{{cours1}}</h1></div>
                   </div>
               </nav>
           </div>
       </div>
   </div>
</div>
<div class="content-area" style="background-color: rgb(250, 251, 252);">
   <div aria-hidden="true" class="hidden-header">
       <div class="ureact-app__header">
           <div>
               <div data-test="concept-header">
                   <nav aria-label="inner-nav" class="index--dark-header--2SHyn index--_header--36qYf">
                       <div class="vds-flex vds-flex--align-center vds-flex--full vds-flex--justify-between vds-flex--spacing-2x">
                           <div class="vds-flex__item">
                           </div>
                           <div class="vds-flex__item"><h1 id="header-title" aria-live="assertive">{{cours1}}</h1></div>
                           <div class="vds-flex__item">
                               <div class="_header--right-node--tOqX9">
                                   <span>
                                       <div>
                                           <span class="index--from-tablet--cciH6">
                                               <button class="vds-button vds-button--minimal-inverse vds-button--small" type="button"><span class="vds-button__content">Send Feedback</span></button>
                                           </span>
                                           
                                       </div>
                                   </span>
                               </div>
                           </div>
                       </div>
                   </nav>
               </div>
           </div>
       </div>
   </div>
   <div id="content" class="ureact-app__body">
       <div data-test="concept-main" class="_main--main-wide--3IuxV _main--main--3mpPA">
           <div [innerHTML] = "cours"></div>
           <span>
               <div>
                   <div class="_main--footer-container--3vC-_">
                    <div *ngIf="id_less1 == less_id; then thenBlock else elseBlock"></div>
                        <ng-template #thenBlock >
                            <div *ngIf="chap_id < last_chap; then thenBlock1 else elseBlock1"></div>
                            <ng-template #thenBlock1 >
                                <button class="vds-button vds-button--secondary" type="button" [routerLink]="['/chapitre',less1,'cours',chap_name]"><span class="vds-button__content">Next</span></button>
                            </ng-template>
                            <ng-template #elseBlock1 >
                                <button class="vds-button vds-button--secondary" type="button" (click)="LastViewed(chap_id)"  [routerLink]="['/chapitre',less1,'cours',chap_name]"><span class="vds-button__content">Next</span></button>
                            </ng-template>
                        </ng-template>
                        <ng-template #elseBlock  >
                            <button class="vds-button vds-button--secondary" type="button" (click)="LastLess(less_id)" (click)="LastViewed(chap_id)" (click)="simpleAlert(next_name)" ><span class="vds-button__content">Next</span></button>    
                        </ng-template>
                       
                   </div>
               </div>
           </span>
       </div>
   </div>
</div>
